body {
    margin: 0;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/concrete-texture.png")
}

* {
    box-sizing: border-box;
}
    /*general */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1, h2, h3, p {
margin-bottom: 20px;
}

h2,
h3 {
  font-size: 22px;
}  
    /* header */

#mainheader {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

#logo {
    float: left;
    width: 300px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;  
}


nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: 0 none;
}

    /* aboutme section */

#main-container {
  padding-top: 130px;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}
  
.img {
    float: left;
    margin: 0 auto;
    clear: both;
    padding: 0px 10px 0px 0px;
}
.aboutme {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

    /* sidebar */

.sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.sidebar h2, h3 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}
  
/* .links {
    padding-top: 10px;
} */

.links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links li {
    text-align: center;
    display: inline;
    padding: 5px 0px 5px 5px;
}

    /* footer */

.footer {
    background-color: #666666;
    text-align: center;
    font-size: 12px;
    color: white;
    border-top: 8px solid;
    border-color: #4aaaa5;
    padding: 30px 0;
    clear: both;
}

/* main-section */

#main-container {
    padding-top: 130px;
}

.main-section {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}
 
    /* portfolio page */

.box {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.box:nth-child(even) {
    margin-right: 40px;
}

.box img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.box h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
  
    /* contact section */

ul {
    list-style-type: none;
}

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;    
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

    /* Media Queries */

@media screen and (max-width: 980px) {
   .container {
       width: 80%;
   }

   /* .img {
       width: 100%;
       height: auto;
   } */
   .box {
       min-width: 100%;
   }

   .aboutme {
       width: 60%;
   }

   .main-section {
       width: 60%;
   }


}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .img {
        width: 60%; 
    }

    .aboutme {
        min-width: 100%;
        /* padding: 40px; */
    }

    .main-section {
        min-width: 100%;
    }

    .box {
        width: 45%;
    }

    .sidebar {
        float: left;
        max-width: 100%;
        padding-right: 30px;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 640px) {
    
    .container {
        width: 100%;
    } 
    
    #logo {
        width: 100%;

    }
    nav {
        width: 100%
    }

    .aboutme {
        margin-top: 10%;
    }

    .box {
        min-width: 100%;
    }
    
    .sidebar { 
        width: 100%;
        margin-bottom: 5%;
    }

    nav a {
        padding: 0px 60px 0px 60px;
    }


    .main-section {
        margin-top: 10%;
    
    }

}